<div class="page-header" *ngIf='category'>
    <h3>{{pageTitle + ': ' + category.name}}</h3>
</div>

<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<div class='panel panel-primary' *ngIf='category'>
    <div class='panel-body'>
        <div class='col-md-6 col-md-offset-3'>

            <form #categoryEditForm="ngForm" (ngSubmit)="editSubmit(categoryEditForm)" autocomplete="off" novalidate>
                <div class="form-group" [class.has-error]="categoryName.invalid && categoryName.touched">
                    <label for="category_name" class="control-label">Name</label>
                    <input #categoryName="ngModel" [(ngModel)]="category.name" type="text" id="category_name" name="category_name" class="form-control" placeholder="Name" required>
                    <div *ngIf="categoryName.invalid && categoryName.dirty" class="alert alert-danger" >Required</div>
                </div>
                <div class="form-group" [class.has-error]="categoryArea.invalid && categoryArea.touched">
                    <label for="category_area" class="control-label">Area</label>
                    <input #categoryArea="ngModel" [(ngModel)]="category.area" type="text" class="form-control" id="category_area" name="category_area" placeholder="Area" required>
                    <div *ngIf="categoryArea.invalid && categoryArea.dirty" class="alert alert-danger">Required</div>
                </div>
                <button type="submit" [disabled]="categoryEditForm.invalid" class="btn btn-default">Save</button>
            </form>

        </div>
    </div>
    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>